<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<meta charset="UTF-8">



<body th:fragment="leftSide">

<div class="wrapper">
  
  <!-- Menu_Left -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">ระบบจัดการ การเงิน</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a th:href="@{/dashboard}" class="nav-link">
              <i class="nav-icon fas fa-laptop"></i>
              <p>
                หน้าแรก
              </p>
            </a>
          </li>
         
          <li class="nav-item">
            <a th:href="@{/moneyAdd}" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              <p>
                แผนการเงิน
              </p>
            </a>
          </li>
          
           <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                แขร์
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="../../index.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>หน้าแรก</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="../../index2.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>สร้างวงแชร์</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="../../index3.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>บันทึกข้อมูลเปียแชร์</p>
                </a>
              </li>
            </ul>
          </li>
          
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                ธุรกิจ
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="../../index.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>ปล่อยเงินกู้</p>
                </a>
              </li>
            </ul>
          </li>
  
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-database"></i>
              <p>
                ตั้งค่า
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="../../index.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>เพิ่มหน้าจอ</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="../../index2.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>ตั้งค่าหน้าจอ</p>
                </a>
              </li>
            </ul>
          </li>
         </ul>
      </nav>
    </div>
    
  </aside>
 </div>
 
 <!-- jQuery -->
<script src="../../moneyManagement/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../moneyManagement/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../moneyManagement/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../moneyManagement/dist/js/demo.js"></script>
</body>

</html>