<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{app/view/fragments/mainLayout}">
<meta charset="UTF-8">
<head>
	<th:block layout:fragment="pageScript">
	<!-- DataTables -->
	<link rel="stylesheet"
		href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="../../dist/css/adminlte.min.css">
	
</th:block>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="content-wrapper">
			<div>
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-8"></div>
					</div>
				</div>
			</div>
			<!-- Main content -->
			<section class="content">
				<div class="col-md-12">
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">ตรวจสอบก่อนยืนยันการส่งโพย</h3>
						</div>
				       <form class="form-sample" th:object="${lotteryModel}" th:action=@{/insertLottery} method="post">
						<div class="card-body">
							<div class="form-group">
							
							<div class="row">
								<div class="col-md-12">
									<div class="form-group row">
											<label class="col-sm-12 col-form-label text-danger" style="text-align: center;"><i class="fas fa-exclamation-triangle text-warning"></i> &nbsp; กรุณาตรวจสอบข้อมูลทั้งหมดก่อนกดยืนยัน</label>
										</div>
									<div class="form-group row">
										<label class="col-sm-12 col-form-label" style="text-align: center;">ผู้ส่งหวย :&nbsp; <h class="text-primary">[[${userName}]] </h>&nbsp; จำนวน &nbsp;<h class="text-primary">[[${totalList}]]</h>&nbsp; รายการ รวม &nbsp;<h class="text-primary">[[${totalPrice}]]</h>&nbsp; บาท</label>
									</div>
								</div>
							</div>
							
							<div class="row">
						   <div class="col-12">
						   <div class="form-group row">
						   <div class="col-sm-1"></div>
				           <div class="col-sm-4">
							<div class="card">
				               <div class="card-header" style="text-align: center;">
				                 <label class="col-sm-5 col-form-label" style="text-align: center;">สามตัว</label>
				              </div>
				              <!-- /.card-header -->
				              <div class="card-body p-1">
				                <table class="table table-sm">
				                  <thead>
				                    <tr>
				                      <th style="text-align: left;">เลข</th>
				                      <th style="text-align: left; width: 5px;"></th>
				                      <th style="text-align: left;">บน</th>
				                      <th style="text-align: left; width: 5px;"></th>
				                      <th style="text-align: left;">โต๊ด</th>
				                    </tr>
				                  </thead>
				                  <tbody>
				                    <tr th:each="obj : ${listThree}">
										 <td th:text=${obj.three} style="text-align: left;" class="text-primary"></td>
										 <td style="text-align: center;">=</td>
										 <td th:text=${obj.topThreePrice} style="text-align: left;" class="text-secondary"></td>
										 <td style="text-align: center;">x</td>
										 <td th:text=${obj.todPrice} style="text-align: left;" class="text-success"></td>
									</tr>
				                  </tbody>
				                  <tfoot>
				                     <tr>
				                      <th style="text-align: left;">รวม</th>
				                      <th style="text-align: left;"></th>
				                      <th style="text-align: left;" class="text-secondary">[[${sumTopThreePrice}]]</th>
				                      <th style="text-align: left;"></th>
				                      <th style="text-align: left;" class="text-success">[[${sumTodPrice}]]</th>
				                     </tr>
				                  </tfoot>
				                </table>
				              <!-- /.card-body -->
				              </div>
				            </div>
				            </div>
				            
				            <div class="col-sm-2"></div>
				            
				            <div class="col-sm-4">
							<div class="card">
				               <div class="card-header" style="text-align: center;">
				                 <label class="col-sm-5 col-form-label" style="text-align: center;">สองตัว</label>
				              </div>
				              <!-- /.card-header -->
				              <div class="card-body p-1">
				                <table class="table table-sm">
				                  <thead>
				                    <tr>
				                      <th style="text-align: left;">เลข</th>
				                      <th style="text-align: left; width: 5px;"></th>
				                      <th style="text-align: left;">บน</th>
				                      <th style="text-align: left; width: 5px;"></th>
				                      <th style="text-align: left;">ล่าง</th>
				                    </tr>
				                  </thead>
				                  <tbody>
				                    <tr th:each="obj : ${listTwo}">
										 <td th:text=${obj.two} style="text-align: left;" class="text-primary"></td>
										 <td style="text-align: center;">=</td>
										 <td th:text=${obj.topTwoPrice} style="text-align: left;" class="text-secondary"></td>
										 <td style="text-align: center;">x</td>
										 <td th:text=${obj.underTwoPrice} style="text-align: left;" class="text-success"></td>
									</tr>
				                  </tbody>
				                  <tfoot>
				                     <tr>
				                      <th style="text-align: left;">รวม</th>
				                      <th style="text-align: left;"></th>
				                      <th style="text-align: left;" class="text-secondary">[[${sumTopTwoPrice}]]</th>
				                      <th style="text-align: left;"></th>
				                      <th style="text-align: left;" class="text-success">[[${sumUnderTwoPrice}]]</th>
				                     </tr>
				                  </tfoot>
				                </table>
				              <!-- /.card-body -->
				              </div>
				            </div>
				            </div>
				            <div class="col-sm-1"></div>
				            </div>
				            </div>
				             </div>
							<div class="row">
							<div class="col-md-5"></div>
								<div class="col-md-2">
									 <div class="form-group">
											<button type="submit" class="btn btn-success float-right" >ยืนยัน</button>
											<a onclick="back()" class="btn btn-secondary">กลับ</a>
										 <!-- <a th:href="@{/lotteryAdd}" class="btn btn-secondary">กลับ</a> -->
									</div>
							    </div>
							<div class="col-md-5"></div>
							</div>
							
							
							</div>
							<!-- /.card-body -->
						</div>
						</form>
						<!-- /.card -->
					</div>
				</div>
			</section>
			<!-- /.content -->

		</div>
		
		<!-- jQuery -->
		<script src="../../plugins/jquery/jquery.min.js"></script>
		<!-- Bootstrap 4 -->
		<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- DataTables -->
		<script src="../../plugins/datatables/jquery.dataTables.js"></script>
		<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>

         <script type="text/javascript" th:src="@{/lottery/js/lotteryShow.js}"></script>
		<!-- <script type="text/javascript" th:src="@{/lottery/js/lottery.js}"></script> -->
			
	</th:block>
	<script src="dist/js/demo.js"></script>
</body>
<script>

</script>
</html>